body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    max-width: 500px;
    text-align: center;
    background-color: #ffffff;
    border: 3px solid #000;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

.languages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 20px;
}

.language {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s;
}

.language img {
    width: 40px; /* Reduced size */
    height: 40px;
    object-fit: contain;
    margin-bottom: 8px;
}

.language span {
    font-size: 0.9em;
    color: #333;
}

.language:hover {
    transform: scale(1.1);
}

.next-button {
    display: inline-block;
    text-decoration: none;
    font-size: 1em;
    color: #ffffff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.next-button:hover {
    background-color: #0056b3;
}
